@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

.flex-container {
  height: 100vh;
  background: linear-gradient(red, blue);
  @include flex-center;

  h1 {
    font-size: 50px;
    color: white;
  }
}
