#home {
  background: #FCDEC0;
  .home-image {
    height: 200px;
    width: 200px;
    background-image: url(images/home.jfif);
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px white;
  }

  .column {
    width: 300px;
    margin: 0 30px;
    text-align: center;
    p {
      text-align: justify;
    }
  }
}
